<div id="dynamicBg" class="dynamic-bg" aria-hidden="true">
  <div class="dynamic-bg__base" data-depth="0.02"></div>

  <div class="dynamic-bg__blob dynamic-bg__blob--a" data-depth="0.08"></div>
  <div class="dynamic-bg__blob dynamic-bg__blob--b" data-depth="0.12"></div>
  <div class="dynamic-bg__blob dynamic-bg__blob--c" data-depth="0.16"></div>
  <div class="dynamic-bg__blob dynamic-bg__blob--d" data-depth="0.05"></div>

  <div class="dynamic-bg__dots dynamic-bg__dots--left" data-depth="0.03"></div>
  <div class="dynamic-bg__dots dynamic-bg__dots--right" data-depth="0.03"></div>

  <div class="dynamic-bg__highlight" data-dbg-highlight></div>
  <div class="dynamic-bg__grain"></div>
</div>
