<div id="dynamic-bg" aria-hidden="true">
  <div class="gradient-layer" data-depth="0.01"></div>
  <div class="blob blob1" data-depth="0.02"></div>
  <div class="blob blob2" data-depth="0.035"></div>
  <div class="blob blob3" data-depth="0.05"></div>
  <div class="noise-overlay"></div>
  <div class="dot-pattern left" data-depth="0.012"></div>
  <div class="dot-pattern right" data-depth="0.012"></div>
  <div class="mouse-highlight"></div>
</div>
