<div id="dynamic-login-bg" aria-hidden="true">
  <div class="gradient-layer"></div>
  <div class="blob blob1" data-depth="0.02"></div>
  <div class="blob blob2" data-depth="0.035"></div>
  <div class="blob blob3" data-depth="0.05"></div>
  <div class="blob blob4" data-depth="0.015"></div>
  <div class="noise-overlay"></div>
  <div class="dot-pattern left"></div>
  <div class="dot-pattern right"></div>
  <div class="mouse-highlight"></div>
</div>
