<div id="schedule-bg" aria-hidden="true">
  <div class="gradient-layer"></div>

  <div class="blob blob-1" data-depth="0.018"></div>
  <div class="blob blob-2" data-depth="0.03"></div>
  <div class="blob blob-3" data-depth="0.042"></div>
  <div class="blob blob-4" data-depth="0.015"></div>

  <div class="noise-overlay"></div>
  <div class="dot-pattern dot-pattern-left"></div>
  <div class="dot-pattern dot-pattern-right"></div>

  <div class="mouse-trail" id="scheduleMouseTrail"></div>
</div>
