<div id="studerriaBg" class="studerria-bg" aria-hidden="true">
  <div class="studerria-bg-gradient"></div>
  <div class="studerria-star-dust" aria-hidden="true"></div>
  <div class="studerria-grain-overlay"></div>
  <div class="studerria-dot-pattern studerria-dot-left" data-depth="0.008"></div>
  <div class="studerria-dot-pattern studerria-dot-right" data-depth="0.008"></div>
</div>
