<article class="thread-card" id="settings-block">
  <div class="thread-meta">Threads / Налаштування</div>
  <h3>Параметри курсу</h3>
  <p>Керуйте видимістю предметів, навчальними потоками й правилами повідомлень для команд і деканату.</p>
  <button type="button" class="thread-action">Змінити параметри</button>
</article>
