NODE_ENV=development
NEXT_PUBLIC_BASE_PATH=/naradadruk
DATABASE_URL=file:./prisma/naradadruk.db
UPLOAD_DIR=./uploads
ADMIN_PATH=admin
ADMIN_PASSWORD=replace-with-strong-admin-password
SESSION_SECRET=replace-with-very-long-session-secret
TELEGRAM_CHANNEL_URL=https://web.telegram.org/k/#@naradaprint
