<article class="thread-card" id="schedule-block">
  <div class="thread-meta">Threads / Розклад</div>
  <h3>Розклад тижня</h3>
  <p>Керуйте парами, дедлайнами та пріоритетами в єдиному вікні без перемикань між модулями.</p>
  <button type="button" class="thread-action">Відкрити розклад</button>
</article>
